@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  .root {
    --background: 47 45 46;
  }
} */

@layer base {
  :root {
    /* --background: 47 45 46; */
  }
}

.theme-dark {
  --primary: 62 177 220;
  --accent: 35 152 196;

  --base-100: 47 45 46;
  --base-90: 68 66 67;
  --base-80: 89 87 88;
  --base-70: 109 108 109;
  --base-60: 130 129 130;
  --base-50: 151 150 151;
  --base-40: 172 171 171;
  --base-30: 192 192 192;
  --base-20: 213 213 213;
  --base-10: 234 234 234;
}
